@model WynikTrojkat
<form action="/Home/Trojkat" method="post">
<div>
    <div class="text-center">
        <h1>Wprowadź wartości:</h1>    
        
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" name="a" placeholder="wprowadź a" aria-label="wprowadź a">
            </div>
            <div class="col">
                    <input type="text" class="form-control" name="b" placeholder="wprowadź b" aria-label="wprowadź b">
            </div>
            <div class="col">
                    <input type="text" class="form-control" name="c" placeholder="wprowadź c" aria-label="wprowadź c">
            </div>
        </div>

        
    </div>
    <div class="text-center m-2">
        <button type="submit" class="btn btn-success">Oblicz</button>
    </div>
    @if(Model!=null){
        <div>
            <h4>Pole powierzchni = @Model.pp</h4>
            <h4>Obwód = @Model.obw</h4>
        </div>
    }
</div>
</form>

